<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

</head>
<body>
    <header>
        <div class="top-header">
            <div class="btn-entry">
                <img src="~/Image/Icons/IconsProfile.png" />
                @Html.ActionLink("Вход", "dfs", "dsf")
            </div>
        </div>


        <div class="container">

        </div>
    </header>







    @RenderBody()
</body>
</html>
