
@{
    ViewData["Title"] = "Contact";
}

<div class="contacts" style="padding-left: 20px;">
    <h1>Контакты магазина Alpagore – Альпинистское снаряжение</h1>
    <p>Приезжайте:</p>
    <p>
        г. Гомель, ул. Гагарина, 65, цоколь, часть помещения 3. Работаем ежедневно с 10:00 до 19:00. Работа с юридическими лицами и ИП с понедельника по пятницу с 10:00 до 19:00.
    </p>
    

    <div class="phone-numbers">
        <p>Звоните:</p>
        <div class="items-phoneNumbers">
            <div class="first-number" id="number-panel1">
                <img src="~/Image/Icons/MTC.png" style="width: 24px; height: 7px; padding-right: 8px;  padding-top: 10px;" />
                <p>+375<span style="font-weight:bold;">(29)-232-24-32</span></p>
                <p style="margin-left: 3px;"> – Магазин</p>
            </div>
            <div class="second-number" id="number-panel1">
                <img src="~/Image/Icons/Life.png" style="width: 23px; height: 11px; padding-right: 8px;  padding-top: 10px;" />
                <p>+375<span style="font-weight:bold;">(29)-333-24-12</span></p>
                <p style="margin-left: 3px;"> – Магазин</p>
            </div>
            <div class="third-number" id="number-panel1">
                <img src="~/Image/Icons/a1.png" style="width: 19px; height: 19px; padding-right: 8px;  padding-top: 10px; " />
                <p>+375<span style="font-weight:bold;">(44)-212-22-33</span></p>
                <p style="margin-left: 3px;"> – Оптовые закупки, работа с юридическими лицами и ИП</p>
            </div>
        </div>
    </div>


    <div class="write-us" style="margin-top: 7px">
        <p>Пишите:</p>
        <div class="block-write" style="margin-top: 4px;">
            <img style="width: 15px; height: 15px;" src="~/image/icons/yandex.png"/>
            <a href="#" style="text-decoration: none; color: #4CB4F5;">alphagoreshop@yandex.by</a>
        </div>
    </div>

    <div class="map" >
        <p>Как до нас добраться:</p>
        <div class="map-body">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5d27f3caa550ba628db7d613443268a38106bfbc07e6b43d49eb4e8b38f29d1d&amp;source=constructor" width="700" height="300" frameborder="0"></iframe>
        </div>
    </div>


    <div class="water" style="margin-top: 20px;">
        <p>Информация о регистрации:</p>
        <p>         
            Общество с ограниченной ответственностью «Aplhagore бел»
            УНП: 193149844, ОКПО: 502343355000
            Свидетельство № 193149844
            Выдано 10.10.2018 Минским горисполкомом
            Юридический адрес: 220030, г. Гомель, ул. Гагарина, 65, цоколь, часть помещения 3
            Регистрация в торговом реестре: регистрационный номер 432127 от 13.11.2018
            Лицензия: для данного вида деятельности с 01.01.2011 не требуется
        </p>
    </div>

</div>
