
@{
    ViewData["Title"] = "Friends";
}
<div class="friends-content">

    <h1 style="margin-left: 20px;">Партнеры компании Alpagore</h1>

    <div class="block-friends">
        <div class="items-friends">
            <p>750mm.by - незабываемые экскурсии по Узкоколейным железным дорогам Беларуси</p>
            <img src="~/image/friends/1.png"/>
            <div class="menu-line"></div>
        </div>

        <div class="items-friends">
            <p>Активный туризм в Беларуси</p>
            <img style="width: 30%;" src="~/image/friends/2.jpg" />
            <div class="menu-line"></div>
        </div>

        <div class="items-friends">
            <p>Турклуб Активный - скидки для наших постоянных покупателей!</p>
            <img style="width: 30%;" src="~/image/friends/3.png" />
            <div class="menu-line"></div>
        </div>

        <div class="items-friends">
            <p>Сеть магазинов спортивного питания и аксессуаров для спорта</p>
            <img style="width: 30%;" src="~/image/friends/4.jpg" />
            <div class="menu-line"></div>
        </div>

        <div class="items-friends">
            <p>Вусце.by Усадьба «У Борисовича» - отдых души на берегах синеокой Браславщины.</p>
            <img style="width: 30%;" src="~/image/friends/5.png" />
            <div class="menu-line"></div>
        </div>

    </div>
</div>

