
@{
    ViewData["Title"] = "Pay";
}

<div class="content-pay" style="padding-left: 20px;">
    <h1>Способы оплаты и доставки товаров магазина Alpagore</h1>
    <p>Наш магазин работает ежедневно. Приём заказов через "Корзину" - круглосуточно, по телефону - с <span style="font-weight: bold;">10:00</span> до <span style="font-weight: bold">19:00</span>, без выходных.</p>

    <h4>Доступные варианты доставки:</h4>

    <p>1. Курьером по г. Минску с понедельника по пятницу, суббота и воскресенье — выходной, время доставки — по согласованию. Срок доставки — от 2 до 36 часов с момента согласования заказа с нашим консультантом. Минимальная сумма заказа для доставки по Минску - <span style="font-weight: bold;">25,00 рублей</span>. Стоимость доставки курьером по Минску — 4 рубля 90 копеек. Заказы на сумму от 100 рублей доставляются бесплатно.</p>
    <p>2. Самовывозом из нашего магазина, расположенного по адресу: г. Минск, ул. Немига 3, нижний уровень (цокольный этаж), место 3. Ежедневно с <span style="font-weight: bold;">10:00 до 19:00.</span></p>
    <p>3. Почтовым отправлением в любую точку Беларуси (вне Минска) с понедельника по пятницу. Стоимость можно уточнить у менеджера или рассчитать в корзине. Срок доставки - от 2 до 6 рабочих дней, с момента согласования заказа с нашим консультантом.</p>

    <h4>Доступные варианты доставки:</h4>
    <p>- Наличными в магазине или курьеру при получении товара в пределах г. Гомеля.</p>
    <p>- Наложенным платежом (оплата на почте при получении почтового отправления).</p>
    <p>- Карта Visa Mastercard карта покупокБанковской картой в магазине или курьеру, в магазине доступна оплата картой покупок.</p>
    <p>- Карты Visa и Mastercard карта покупокКарты MasterCard (SecureCode) и Visa (Verified by) Банковской картой онлайн, в том числе картой покупок. </p>
    <p>- Картой рассрочки Халва в магазине. Рассрочка на <span style="font-weight: bold;">2</span> месяца. При расчете Халвой личные и клубные скидки, скидки на отдельные товары, акции не действуют.</p>
    <p>- Картой рассрочки Халва онлайн. Рассрочка на <span style="font-weight: bold;">2</span> месяца. При расчете Халвой личные и клубные скидки, скидки на отдельные товары, акции не действуют.</p>
    <p>- новый лого ерип Оплата посредством системы "Расчет" (ЕРИП).</p>
    <p>- O-plati-belОплата по QR-код приложением "Оплати".</p>
    <p>- Безналичный расчет для Юридических лиц.</p>

    <h4 style="margin-top: 50px;">Приятных покупок!</h4>


</div>

